<html lang="en" rtl>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap-rtl.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Document |
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <div class=" site-title">
            <a href='/'>
                <h1> OpenCode AVIN</h1>
            </a>
            <p>Greet SIte </p>
        </div>
        <ul>
            <li>
                <a href="/">Blogs</a>

            </li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About content</h2>
        <p>
            This is the most basic form of Bootstrap: precompiled files for quick drop-in usage in nearly any web projec
        </p>
        <p>
            The Bootstrap source code download includes the precompiled CSS and JavaScript assets, along with source Sass, JavaScript, and documentation. More specifically, it includes the following and
        </p>
    </div>
</body>

</html>

</html>